* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.big-body {

    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;


}


.layout-header {
    margin: 0;
    padding: 0;
    position: relative;
}

.bar {
    position: absolute;;
    color: white;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.logo {}

.menu-home{
    position: fixed;
font-weight: 600;
    display: flex;
    right: 30px;
}
.item-menu:hover{
    color: rgb(255, 145, 0);
    transition: all 0.5s ease-in-out;
    
}
.menu-home div {
    padding-right: 30px;
    padding-top: 20px;
}

.item-menu {
    cursor: pointer;
}